**/target/
**/lib/*.jar
**/seed/*.jar
/eone.ui.zk/labelapplet.jar
/*_bk/
/.metadata/
/PostgreSQL/
/Oracle/
/MSSQL/
/log/
/db/
/.git_bk/
/.git_bk1/
/.git_root/
/.git_v5/
/*.log
swingclient.product*.launch

/*.sql
/RemoteSystemsTempFiles/
External Plug-in Libraries
.recommenders

/runtime-server.product/

